<h1> Edit your article here: </h1>

    <form action="/articles/<%= @article.id %>" method="POST"> 
        <input id="hidden" type="hidden" name="_method" value="patch">
        <p> Title: <input type="text" name="title" value="<%= @article.title %>" </p> 
        <p> Content: <input type="text" name="content" value="<%= @article.content %>" </p> 
    <input type="submit" value="Submit">
    <form>